/* Footer */

.footer {
    background-color: #161853;
    .footer__content {
        display: flex;
        justify-content: center;
    }
    img {
        width: 200px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 70%;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 60%;
    }
}