/* Footer */

.footer {
    background-color: #161853;
    .footer__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        width: 200px;
    }
    a {
        color: #ffffff;
        margin-top: 1.4rem;
        transition: all ease .25s;
    }
    a:hover {
        color: #EC255A;
    }

}

@media only screen and (min-width: 768px) {
    .container {
        width: 70%;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 60%;
    }
}