/* Header - Inicio */

.header {
    height: 80vh;
    background-image: url(../img/fondo-web.png);
    background-position: top center;
    background-color: #292C6D;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .header__content {
        text-align: center;
        .header__logo {
            transition: all ease .25s;
            img {
                width: 10rem;
                @include tablet {
                    width: 8.4rem;
                }
            }
        }
        .header__logo:hover {
            transform: translateY(-.15rem);
        }
        .header__title {
            font-size: 3.2rem;
            @include tablet {
                font-size: 2.4rem;
            }
        }
        .header__subtitle {
            font-size: 1.4rem;
            color: #EC255A;
            font-weight: 400;
            margin-bottom: 2.5rem;
            line-height: 1.5;
            @include tablet {
                font-size: 1.2rem;
            }
        }
        .header__button {
            color: #EC255A;
            border: solid 2px #EC255A;
            padding: .75rem 2rem;
            transition: all ease .25s;
        }
        .header__button:hover {
            background-color: #EC255A;
            color: #FAEDF0;
        }
    }
    
}

.navbar {
    background-color: #EC255A;
    display: flex;
    justify-content: center;
    .navbar__list {
        padding: .25rem;
        margin: 0;
        display: flex;
        justify-content: space-around;
        @include tablet {
            flex-direction: column;
        }
        .navbar__item {
            list-style: none;
            @include tablet {
                text-align: center;
                padding: .25rem;
            }
            a {
                color: #FAEDF0;
                transition: all ease .25s;
                margin: 0 1rem;
            }
            a:hover {
                color: #292C6D;
                font-weight: 700;    
            }
        }
    }
}

/* Portada Inicio - Páginas Internas */

.header--front {
    height: 65vh;
}